.conteiner {
	width:427px;
	height:560px;
	background-color:#FFFFFF;
	padding: 30px 26px 24px 23px;
}

.form-top-text {
	
}

.form-submit {
	width:378px;
	height:48px;
	box-sizing:border-box;
	padding:0;
	border:0;
	background-color:#F9B016;
	
}