body {
	margin:0;
	width:1920px;
	height:2038px;
}

header {
	height:80px;
	background-color:#091E3B;
	
}

footer {
	height:440px;
	background-color:#FFFFFF;
}

.yellow-stripe {
	height:4px;
	background-color:#F7B616;
}

.There_are_7_5_billion_people_around_the_world_O {
  font-size: 28px;
  font-family: "Proxima Nova";
  color: rgb(255, 255, 255);
  line-height: 1.607;
  text-align: center;
  -moz-transform: scale(0.95, 0.9);
  -webkit-transform: scale(0.95, 0.9);
  -ms-transform: scale(0.95, 0.9);
  position: absolute;
  left: 388.383px;
  top: 195.528px;
  width: 650.133px;
  height: 66.937px;
  z-index: 43;
}

/* from footer */
.This_brand_owned_by_Q8_securities_which_is_regu {
  font-size: 16px;
  font-family: "Proxima Nova", Regular;
  font-stretch: ultra-expanded;
  font-style: arabic;
  /* letter-spacing: 1px; */
  color: rgb(0, 0, 0);
  line-height: 1.2;
  text-align: left;
  -moz-transform: matrix( 0.94934224355541,0,0,0.89999990190779,0,0);
  -webkit-transform: matrix( 0.94934224355541,0,0,0.89999990190779,0,0);
  -ms-transform: matrix( 0.94934224355541,0,0,0.89999990190779,0,0);
  position: absolute;
  left: 665px;
  top: 1668px;
  width: 143.023px;
  height: 51.275px;
  z-index: 5;
}

.top-blue-part {
	height:633px;
	background-image:url("images/top-blue-part.png");

}

.middle-white-part {
	height:394px;
	background-color:#FFFFFF;
}

.bottom-blue-part {
	height:487px;
	background-color:#091E3B;

	
}

.map {
	background-image:url("images/map image.png");
	background-repeat:no-repeat;
	background-position: top 67px right 406px;
}